*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: .2s linear;
  text-decoration: none;
  text-transform: capitalize;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section{
  padding:2rem 9%;
}

header {
  position: fixed;
  top: 0; left: 0; right: 0;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

.logo {
  font-size: 28px;      
  font-weight: 700;     
  letter-spacing: 1px;  
  color: #2f3e34; 
}

header .logo span{
  color: var(--pink);
} 

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  text-decoration: none;
  color: #2f3e34;
}

header .navbar a:hover{
  color: var(--pink);
}

.hero{
  display: flex;
  justify-content:space-between;
  padding: 80px 60px;
  margin-top: 150px;
  margin-bottom: 100px;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../images/section.png");
  background-repeat: no-repeat;
}

.hero .content{
  
  max-width: 50rem;
  background: none;
}

.title{
  font-size: 64px;
  letter-spacing: 2px;
  background: none;
  font-weight: 800;
}

.subtitle {
  font-size: 44px;
  font-style: italic;
  line-height: 1.5;
  background: none;
  margin-left: 40px;
  margin-top: 30px;
  font-weight: bold;
}

.desc {
  font-size: 20px;
  line-height: 1.5;
  background: none;
  margin-top:60px;
  font-weight: 500;
}

.heading{
  text-align: left;
  font-size: 4rem;
  color: #444;
  padding: 1.3rem;
  padding-left: 28px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);

}

.btn {
  display: inline-block;
  background: #314b01;
  color: white;
  padding:2rem 2.2rem;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.7rem;
  margin-left: 125px;
  margin-top: 70px;
}

.btn:hover {
  transform: scale(1.05);
  background: #5e5f02;
}


.gallery {
  padding: 60px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px; 
  padding: 20px; 
  margin-top: 60px;
}

.grid img {
  width: 100%;   
  height: 280px;
  object-fit: cover; 
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}
footer {
  top: 0; left: 0; right: 0;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eee;
  margin-top: 3rem;
}

.footer-left{
  font-size: 15px;
  font-weight: 600;
  color: #222;
}

.footer-navs{
  display: flex;
  gap: 30px;

}

.footer-navs a{
  text-decoration: none;
  color: #444;
  font-size: 16px;
}


@media (max-width:991px) {
  html{
  font-size: 55%;
 }

 header{
  padding: 2rem;
 }

 section{
  padding: 2rem;
 }
  
 .hero{
  background-position: left;
 }
}

@media (max-width:768px){
  header .navbar{
    position:fixed;
    top: 100%; left: 0; right: 0;
    background: #eee;
    border-top: .1rem solid rgba(0,0,0,0.1);
  }

  header .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: .1rem solid rgba(0,0,0,0.1);
    display: block;
  }

  .content .title{
    font-size: 5rem;
  }

  .content .subtitle{
    font-size: 4rem;
  }
}

@media (max-width:451px) {
  html{
  font-size: 50%;
 }

 .heading{
  font-size: 3rem;
 }
  
}